@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --font-inter: "Inter", sans-serif;
    --color-secondary: #f8fafc;
    --color-card: #f1f5f9;
    --color-primary: #1a1a1a;
    --color-brand: #666666;
    --color-accent: #2563eb;
    --color-border: #e5e7eb;
}

@layer utility {
    .button-gradient {
        background: linear-Gradient(135deg, #1e40af 0%, #60a5fa 100%);
    }
    .hovered-button-gradient {
        background: linear-Gradient(135deg, #1d4ed8, #2563eb);
    }
    .avatar-gradient {
        background: linear-Gradient(135deg, #0ea5e9 0%, #923ef1 100%);
    }
    .header-gradient {
        background: linear-gradient(135deg, #5b8cff, #8A6CFF);
    }
    .shadow-5xl {
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.226);
    }
    .capture-fix {
        background-color: rgba(212, 209, 209, 0.11);
    }
}