@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --font-inter: "Inter", sans-serif;
    --color-void:            #280905;
    --color-ember:           #740a03;
    --color-secondary:       #f5d0d079;
    --color-scarlet:         #c31100;
    --color-blaze:           #ce4e1b;
    --color-surface:         #1a0604;
    --color-surface-alt:     #2e0a07;
    --color-ash:             #f5e6e3;
    --color-muted:           #a07068;
    --color-danger-hover:    #8a0d04;

    --color-alpha-primary-glow:         #c3110022;
    --color-alpha-primary-overlay:      #c3110033;
    --color-alpha-primary-shadow:       #c3110044;
    --color-alpha-primary-shadow-hover: #c3110066;
    --color-alpha-secondary-bg:         #ce4e1b18;
    --color-alpha-secondary-border:     #ce4e1b33;
    --color-alpha-subtle-border:        #ffffff0a;
    --color-alpha-card-border:          #ffffff0d;
    --color-alpha-input-border:         #ffffff12;
    --color-alpha-ghost-border:         #ffffff1a;
    --color-alpha-ghost-border-hover:   #ffffff33;
    --color-alpha-divider:              #ffffff08;
    --color-alpha-overlay:              #00000033;
    --color-alpha-ash-alt:              #f5e6e388;
    --color-faded-white:                #c551510e;
}